// Place all the styles related to the pictures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-color: orangered;
  color: black;
}

h1 {
  font-family: fantasy;
  font-size: 50px;
  margin: 10px;
  text-align: center;
}

a {
  font-size: 20px;
}

.images{
  text-align: center;
}

.link-to{
  text-align: center;
  max-width: 75%;
  margin: auto;
}

.new-pic-link{
  float: left;
}

.make-album{
  float: right;
}

li{
  text-align: center;
}
